:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-bg: #fff;
  --text-opposite: var(--primary-bg);
  --secondary-bg: var(--headers-color);
  --footer-text: var(--team-bg);
  --team-bg: #f4f4fd;
  --primary-text: #434455;
  --headers-color: #2e2f42;
  --logo-color: #4d5ae5;
  --button-color: var(--logo-color);
  --hover-focus: #404bbf;
}

/* base reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto 72px;
}

/* header */
.site-header {
  border-bottom: 1px solid #e7e9fc;
}

/* Логотип */
.logo.header-logo,
.logo.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  font-family: var(--secondary-font);
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--headers-color);
}

/* Навігація */
.container.nav-container,
.site-header-navigation,
.navigation-list,
.contacts-list,
.feature-list,
.our-team-list,
.our-portfolio-list {
  display: flex;
  align-items: center;
}

.nav-container,
.site-header-navigation {
  margin-right: auto;
}

.navigation-list,
.contacts-list {
  gap: 40px;
}

.navigation-link,
.contacts-link,
.logo {
  padding: 24px 0;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headers-color);
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-focus);
}

.section.hero-image,
.page-footer {
  background-color: var(--secondary-bg);
}

/* Спеціалізація */

.section.hero-image {
  padding: 188px 0;
}

.section-title.hero-image-title {
  font-size: 56px;
  color: var(--text-opposite);
  text-transform: none;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn-hero-image {
  font-family: var(--main-font);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-opposite);
  cursor: pointer;
  text-align: center;
  display: block;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border-radius: 4px;
}

.hero-image .btn-hero-image:hover,
.hero-image .btn-hero-image:focus {
  background-color: var(--hover-focus);
}

/* Features Studio */

.feature-list,
.our-team-list {
  gap: 24px;
}

.feature-title {
  color: var(--headers-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.feature-item {
  text-align: left;
  width: calc((100% - 72px) / 4);
}

/* Команда / Портфоліо */
.our-team {
  background-color: var(--team-bg);
}

.person-card {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
}
.project-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.our-team-item {
  background-color: var(--primary-bg);
  width: calc((100% - 72px) / 4);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Портфоліо */
.person-card-title,
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  text-align: center;
  margin-bottom: 8px;
}

.person-card-content {
  text-align: center;
}

.our-portfolio-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-item {
  width: calc((100% - 48px) / 3);
}

/* Футер */

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: auto;
}

.page-footer {
  padding: 100px 0;
}

.container.footer {
  width: 264px;
  margin-left: 156px;
}

.logo-part,
.page-footer-text {
  color: var(--footer-text);
}
